In [1]:
import pandas as pd
import numpy as np

pd.DataFrame(np.random.randn(10, 5))

          0         1         2         3         4
0  1.478128  0.419318 -0.122777 -1.518943  1.063380
1  1.945692 -1.035389  0.694730  0.525105 -1.311516
2  0.138214 -1.595550  0.441293 -0.088602  0.067660
3  1.238505  1.841270 -0.823382  1.063624  0.119751
4  0.998107 -0.005453  2.289795 -0.226665  1.881975
5  0.851278  0.311256 -0.661866  0.623851  1.264590
6 -0.345646 -0.543732  0.031976  0.781292  0.446569
7 -0.841973  0.368095  0.623348 -0.404003 -0.800962
8  1.042493 -2.741818 -1.003883  0.454555 -0.145093
9  0.184574  0.302226 -0.930392 -0.004896 -0.452160